.container {
  max-width: 1366px;
  margin: auto;
  padding: 0 30px;
}
.container-boby-main {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}